
DATABASE_URL="mysql://domain/DB?charset=utf8&collate=utf8_general_ci"

# NextAuth 설정
NEXTAUTH_SECRET="openssl rand -base64 32"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_AUTH_MIDDLEWARE_SECRET="openssl rand -base64 32"
# Kakao OAuth2.0 설정
KAKAO_CLIENT_ID=""
KAKAO_CLIENT_SECRET=""
# 기타 설정
NODE_ENV="production"
"@ | Out-File -FilePath .env -Encoding utf8

MEDIA_STORAGE_PATH=./storage
